<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">
    <title>app de prueba</title>
</head>
<body ng-app="Test" class="body">
    <h3>Test prueba</h3>

    <!-- vista de tabla -->
    <div class="container">
        <div class="row">
            <div class="col s12">
                <a class="btn-floating btn-large waves-effect waves-light red modal-trigger  tooltipped" data-position="bottom" data-delay="50" data-tooltip="Agregar"  data-target='demoModal1' modal><i class="material-icons">add</i></a>
                <div class="card horizontal padding" ng-controller="data as vm">
                    <table ng-init="vm.getData();">
                        <thead>
                          <tr>
                              <th ng-click="vm.getData();">Nombre</th>
                              <th>Apellido</th>
                              <th class="center-align">opciones</th>
                          </tr>
                        </thead>
                
                        <tbody>
                          <tr ng-repeat="item in list">
                            <td>{{item.name}}</td>
                            <td>{{item.full_name}}</td>
                            <td class="center-align">
                                <i class="material-icons cursor " ng-click="vm.deleteData($index)">delete_forever</i>
                                <i class="material-icons cursor  modal-trigger" data-target='demoModal' modal ng-click="vm.editData($index)">create</i>
                            </td>
                          </tr>
                        </tbody>
                    </table>


                    <!-- Modal Structure -->
                    <div id="demoModal" class="modal">
                        <div class="modal-content">
                            <h4>Editar</h4>
                            <div class="row">
                              <div class="input-field col s6">
                                <input placeholder="Nombre" ng-model="user.name"  id="first_name" type="text" class="validate">
                                <label for="first_name">Nombre</label>
                              </div>
                              <div class="input-field col s6">
                                <input placeholder="Apellido" id="last_name" ng-model="user.full_name" type="text" class="validate">
                                <label for="last_name">Apellido</label>
                              </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="vm.putData(user.name, user.full_name);">Editar</a>
                        </div>
                    </div>

                    <!-- add Modal Structure -->
                    <div id="demoModal1" class="modal">
                        <div class="modal-content">
                                <h4>Agregar</h4>
                            <div class="row">
                              <div class="input-field col s6">
                                <input placeholder="Nombre" ng-model="name"  id="first_name" type="text" class="validate">
                                <label for="first_name">Nombre</label>
                              </div>
                              <div class="input-field col s6">
                                <input placeholder="Apellido"  id="last_name" ng-model="full_name" type="text" class="validate">
                                <label for="last_name">Apellido</label>
                              </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>    
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="vm.add();">Agregar</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin vista de tabla -->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js" ></script>
    <script type="text/javascript" src="bower_components/materialize/dist/js/materialize.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
</body>
</html>